services:
  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: marketplace-api-gateway
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - backend


networks:
  backend:
    driver: bridge